TAGS
*~
.*~
*.pyc
.#*
\#*#
*/*~
*/.*~
*/*.pyc
*/.#*
*/#*#
*/*.so
*/build/
build/
cInterpol/core.c
cInterpol/poly_coeff?.c
cInterpol/tests/__pycache__
cInterpol/tests/test_newton_interval
cInterpol/tests/test_poly_eval
cInterpol/tests/test_fornberg
cInterpol/tests/*.mod
cInterpol/tests/*.pyc
examples/sine_pp.pkl
examples/*.pyc
cInterpol/.meta_poly_coeff
cInterpol/prebuilt/
examples/build_invnewton/
