TAGS
*~
.*~
*.pyc
.#*
#*#
*/*~
*/.*~
*/*.pyc
*/.#*
*/#*#
*/*.so
*/build/
build/
cInterpol/core.c
cInterpol/poly_coeff?.c
cInterpol/tests/__pycache__
cInterpol/tests/test_newton_interval
cInterpol/tests/test_evalpoly
cInterpol/tests/*.pyc
examples/pp.pkl
examples/*.pyc
